# Output test errors to stderr so users don't have to `cat` or open test failure log files when test
# fail. This makes the log noiser in exchange for reducing the time-to-feedback on test failures for
# users.
# Docs: https://bazel.build/docs/user-manual#test-output
test --test_output=errors

# 1. To choose the faster performance put this in /.bazelrc:
# # passes an argument `--skipLibCheck` to *every* spawn of tsc
# build --@aspect_rules_ts//ts:skipLibCheck=always
# fetch --@aspect_rules_ts//ts:skipLibCheck=always
# query --@aspect_rules_ts//ts:skipLibCheck=always
# 2. To choose more correct typechecks, put this in /.bazelrc:
# honor the setting of `skipLibCheck` in the tsconfig.json file
build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
